.filter_title {
  margin-bottom: 15px;

  font-size: 18px;
}

.filter_input {
  width: 250px;
  height: 35px;
  margin-bottom: 15px;
  padding: 5px 10px;

  background-color: #b6baff14;
  text-transform: none;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #d3d5ff40;
}

.filter_input:focus {
  background-color: #d3d5ff40;
  outline: none;
}
